<html>
	
    <% include header.ejs%> 
	<body>
    
    <div class="g-blog-btn">
        <a class="btn" href="#g-newBlog">新建 Blog</a>
    </div>
    <div id="page-wrapper">
      <div id="wrapper"> 
        <%if(result && result.length>0){%>
          <%result.forEach(function(curData,index){%>
            <section class="panel banner right">
                <div class="content color0 span-3-75">
                  <h1 class="major">
                      <%=curData.pageTitle%></h1>
                  <p>
                    <%=curData.pageContent%>
                  </p>
                  <ul class="actions">
                    <li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>
                    <li><a href="/log/deletLog?id=<%=curData.id %>" >删除</a></li>
                    <li><a href="/log/goUpdateLog?id=<%=curData.id %>" >编辑</a></li>
                    <li><%= moment(curData.lastUpdateTime).format("YYYY-MM-DD hh:mm:ss") %></li>

                  </ul>
                </div>
                <div class="image filtered span-1-75" data-position="25% 25%">
                  <img src="/images/bg2.png" alt="" />
                </div>
            </section>
          <%})%>
        <%}%>
        <section class="panel color2-alt" id="g-newBlog">
            <div class="intro color2">
              <h2 class="major"> 新建一篇Blog</h2>
              <p> 写下此时所想，记录点点滴滴， 美好的回忆都在这里。</p>
            </div>
            <div class="inner columns aligned">
              <div class="span-4-5">
                <form method="post" action="/log/addLog">
                  <div class="field third">
                    <label for="pageTitle">标题</label>
                    <input type="text" name="pageTitle" id="pageTitle" value="" placeholder="今天天气好晴朗">
                  </div>
                  <div class="field">
                    <label for="pageContent">文章内容</label>
                    <textarea name="pageContent" id="pageContent" placeholder="尽情地写下你的心情吧~" rows="6"></textarea>
                  </div>
                  <ul class="actions">
                    <li><input type="submit" value="保存" class="special color2"></li>
                    <li><input type="reset" value="清空心情"></li>
                  </ul>
                </form>
              </div>
            </div>
        </section>
        <div class="copyright">&copy; zyy blog <a href="#">2018-04-01</a>.</div>

      </div>
    </div>
    <% include footer.ejs%> 
  </body>
</html>